
#content {
    width: 100%;
    height: 100%;
}

h4 {
    margin: 5px;
}

.panel-group .panel + .panel {
    margin-top: 15px;
}

td {
    padding: 3px !important;
    border-top-color: currentColor !important;
    border-top-width: 0px !important;
    border-top-style: none !important;
}

.btn {
    padding: 3px 15px !important;
}

.form-group {
    margin-bottom: 5px;
}

select {
    padding: 2px !important;
    border-radius: 3px !important;
    height: 21px !important;
    line-height: 1.5 !important;
    font-size: 12px !important;
}

input {
    padding: 2px !important;
    border-radius: 3px !important;
    height: 22px !important;
    line-height: 1.5 !important;
    font-size: 12px !important;
}

label {
    font-size: 12px !important;
}

body {
    font-size: 13px !important;
}

div .panel-heading {
    padding: 2px 15px !important;
}

div .panel-body {
    padding: 5px !important;
}

.busyStatus {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background-color: #666;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10000000;
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}


.loader {
    margin-top: 150px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid blue;
    border-bottom: 16px solid blue;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.panel {
    margin-bottom: 7px;
    box-shadow: 0px 0px 0px 0px;
}

.well-sm {
    padding: 5px;
    border-radius: 0px;
}

.well {
    min-height: 20px;
    padding: 5px;
    margin-bottom: 10px;
    background-color: #d9edf7;
    border-left: 0px solid #FFFFFF!important;
    border-right: 0px solid #FFFFFF!important;
    border-top: 0px solid #FFFFFF!important;
    border-bottom: 1px solid #46b8da;
    border-radius: 0px;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.05);
}
